<div class="container store-index">
	<div class="row">
		<div class="col-xs-8">
			<% @relationship_stores.each do |r_store| %>
				<div class="col-xs-12 user-store-index">
					<div class="col-xs-4 user-store-index-image">
						<%= attachment_image_tag r_store, :store_image, format: "jpeg", size: "150x150", fallback: "no-image.jpeg", size:'150x150' %>
					</div>
					<div class="col-xs-8 user-store-index-text">
						<p><%= r_store.corporation_name %>　<%= r_store.store_name %></p>
						<p><%= r_store.address %></p>
						<P><%= r_store.store_introduction %></P>
						<p><%= link_to "店舗詳細", users_store_path(r_store), class: "btn btn-primary" %></p>

						<% if r_store.relationshiped_by?(current_user) %>
							<%= link_to users_store_relationship_path(r_store), method: :delete do %>
    							<i class="fa fa-heart" aria-hidden="true" ></i>
               					<%= r_store.relationships.count %>
  							<% end %>
						<% else %>
  							<%= link_to users_store_relationships_path(r_store), method: :post do %>
   								<i class="fa fa-heart-o" aria-hidden="true"></i>
               					<%= r_store.relationships.count %>
  							<% end %>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>

		<div class="row">
			<div class="col-xs-4 side-bar">
				<h3>ランダム店舗紹介</h3>
				<% @random.each do |store| %>

					<div class="col-xs-12 random-store">
						<%= attachment_image_tag store, :store_image, format: "jpeg", size: "50x50", fallback: "no-image.jpeg", size:'50x50' %>
						<%= store.corporation_name %>　<%= store.store_name %>
						<p><%= store.address %></p>
						<p><%= store.store_introduction %></p>
						<p><%= link_to "店舗詳細", users_store_path(store), class: "btn btn-primary" %></p>

						<% if store.relationshiped_by?(current_user) %>
							<%= link_to users_store_relationship_path(store), method: :delete do %>
    							<i class="fa fa-heart" aria-hidden="true" ></i>
               					<%= store.relationships.count %>
  							<% end %>
						<% else %>
  							<%= link_to users_store_relationships_path(store), method: :post do %>
   								<i class="fa fa-heart-o" aria-hidden="true"></i>
               					<%= store.relationships.count %>
  							<% end %>
						<% end %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
