<div class="container user-mypage">
	<div class="row">
		<h1>会員詳細ページ</h1>
		<div class="user-mypage-link">
		<%= link_to "編集する", user_edit_information_path, class: "btn btn-success" %>
		<%= link_to "パスワードを変更する", edit_user_registration_path, class: "btn btn-primary" %>
	</div>

		<table class="table table-hover">
			<div class ="col-lg-6">

				<tbody>
					<tr><th>ハンドルネーム</th><td><%= @user.handle_name %></td></tr>
					<tr><th>性別</th><td><%= @user.gender %></td></tr>
					<tr><th>年齢</th><td><%= @user.age %></td></tr>
					<tr><th>メールアドレス</th><td><%= @user.email%></td></tr>
				</tbody>
			</div>
		</table>
	</div>
</div>