<div class="container store-edit">
	<div class="row">
		<h2>店舗情報編集</h2>

		<%= form_for(@store, url: store_update_information_path) do |f| %>

			<div class="store-edit-image">
				<%= f.label :store_image, "アカウント画像" %>
				<div class="store-edit-image2">
				<%= attachment_image_tag @store, :store_image, format: "jpeg", size: "100x100", fallback: asset_path("no-image.jpeg"), id: "img_prev", size: '100x100' %>
				</div>
				<%= f.attachment_field :store_image %>
			</div>

		<table class="table table-hover">
			<div class ="col-xs-6">

			<tbody>

				<tr>
					<td><%= f.label :corporation_name, "会社名" %></td>
					<td><%= f.text_field :corporation_name, :placeholder =>"#{@store.corporation_name}", :size=>"40" %></td>
				</tr>

				<tr>
					<td><%= f.label :store_name, "店舗名" %></td>
					<td><%= f.text_field :store_name, :placeholder =>"#{@store.store_name}", :size=>"40" %></td>
				</tr>

				<tr>
					<td><%= f.label :postal_code, "郵便番号(ハイフンなし7桁)" %></td>
					<td><%= f.text_field :postal_code, :placeholder =>"#{@store.postal_code}", :size=>"40" %></td>
				</tr>

				<tr>
					<td><%= f.label :address, "住所" %></td>
					<td><%= f.text_field :address, :placeholder =>"#{@store.address}", :size=>"40" %></td>
				</tr>

				<tr>
					<td><%= f.label :telephone_number, "電話番号" %></td>
					<td><%= f.text_field :telephone_number, :placeholder =>"#{@store.telephone_number}", :size=>"40" %></td>
				</tr>

				<tr>
					<td><%= f.label :email, "メールアドレス" %></td>
					<td><%= f.email_field :email, autocomplete: "email", :placeholder =>"#{@store.email}", :size=>"40" %></td>
				</tr>

				<tr>
					<td><%= f.label :store_introduction, "店舗紹介" %></td>
					<td><%= f.text_area :store_introduction, :placeholder =>"#{@store.store_introduction}", :size=>"80x5" %></td>
				</tr>

				<tr>
					<td><%= f.label :store_area, "店舗地域タグ" %></td>
					<td><%= f.collection_select :area_id, Area.all, :id, :area_name, :placeholder =>"#{@store.area}"  %></td>
				</tr>

				<tr>
					<td><%= f.submit "編集内容を保存する", class: "btn btn-primary" %></td>
					<td><%= link_to "退会する", store_confirm_unsubscribe_path, class: "btn btn-danger" %></td>
				</tr>
			</tbody>
			</div>
		</table>
		<% end %>

		<script>
          $(function(){
            $('#store_store_image').on('change', function (e) {
            var reader = new FileReader();
            reader.onload = function (e) {
              $(".store_image").attr('src', e.target.result);
            }
            reader.readAsDataURL(e.target.files[0]);
          });
          });
        </script>
	</div>
</div>

