<div class="container">
	<div class="row">
		<h1>店舗詳細ページ</h1>
		<%= link_to "編集する", store_edit_information_path, class: "btn btn-success ml2" %>
		<%= link_to "パスワードを変更する", edit_store_registration_path, class: "btn btn-success ml2" %>

		<div>
			<span>アカウント画像</span><%= attachment_image_tag @store, :store_image, format: "jpeg", size: "50x50", fallback: "no-image.jpeg", size:'50x50' %>
		</div>

		<table class="table table-hover">
			<div class ="col-lg-6">

			<tbody>
				<tr><th>会社名</th><td><%= @store.corporation_name %></td></tr>
				<tr><th>店舗名</th><td><%= @store.store_name %></td></tr>
				<tr><th>郵便番号</th><td><%= @store.postal_code %></td></tr>
				<tr><th>住所</th><td><%= @store.address %></td></tr>
				<tr><th>電話番号</th><td><%= @store.telephone_number %></td></tr>
				<tr><th>メールアドレス</th><td><%= @store.email%></td></tr>
				<tr><th>店舗紹介</th><td><%= @store.store_introduction %></td></tr>
			</tbody>
		</table>
	</div>
</div>