<div class="container infomation-show">
	<div class="row">
		<h2>サイドバー投稿編集画面</h2>

			<div class="infomation-show-title">
				<h3>投稿タイトル</h3>
				<%= @infomation.titles %>
			</div>

			<div class="infomation-show-image">
				<h3>投稿画像</h3>
				<%= attachment_image_tag @infomation, :info_image, format: "jpeg", size: "300x250", fallback: asset_path("not-image.jpeg"), size:'300x250' %>
			</div>

			<div class="infomation-show-introduction">
				<h3>投稿内容</h3>
				<%= @infomation.introduction %>
			</div>

			<div class="infomation-show-edit">
				<%= link_to "編集する", edit_stores_infomation_path(@infomation), class: "btn btn-primary" %>
				<%= link_to "削除する", stores_infomation_path(@infomation), method: :delete, class: "btn btn-danger" %>
			</div>
	</div>
</div>