<div class="container about">
	<div class="row">

		<h1>MAKETOKOとは</h1>
      <div class="col-xs-4">
        <img src="<%= asset_path "logo.jpg" %>" alt="ロゴ画像" align="left">
      </div>
  		
      <div class="col-xs-8 about-image">
  			<p>
  				MAKETOKOは市場を意味するMarketと関西の方言で、<br><br>
          安くする意味の「まけとこ」を組み合わせた造語です。<br><br>
  				大阪の小売店と消費者をつなぐSNSを目指して制作しました。<br><br>
  				日々の営業でお買い得情報を発信したい小売店様。<br><br>
  				日々の生活でお買い得情報を収集したい消費者様。<br><br>
  				ぜひとも、本アプリをご利用くださいませ。<br>
  			</p>
　	    </div>

  </div>

    <div class="row about1">

      <h2>SNS機能の紹介</h2>
      <h3>店舗詳細画面</h3>

      <div class="col-xs-7">
        <img src="<%= asset_path "about1.png" %>" alt="ロゴ画像" align="left" width="600" height="300">
      </div>

      <div class="col-xs-5 about-info">
        <p>店舗登録すると、専用ページが作成！</p><br>
        <p>店舗会員と一般会員でできること</p><br>
        <p>店舗側<br>
        店舗紹介・タイムラインの投稿・サイドバーの投稿</p><br>
        <p>一般会員側<br>
        ページの閲覧、お気に入り店舗の登録</p>
      </div>
    </div>

    <div class="row about2">
      <h3>店舗一覧画面</h3>
        <div class="col-xs-5 about-info">
          <p>登録された店舗は一覧画面に登録!</p><br>
          <p>タグを利用した地域検索に対応</p><br>
          <p>お気に入り登録が多い順にソートする</p><br>
          <p>ランキング検索も利用可能！</p>
        </div>

        <div class="col-xs-7">
          <img src="<%= asset_path "about2.png" %>" alt="ロゴ画像" align="left" width="600" height="300">
        </div>
    </div>

    <div class="row about3">
      <h3>一般会員トップ画面</h3>
        <div class="col-xs-7 ">
          <img src="<%= asset_path "about3.png" %>" alt="ロゴ画像" align="left" width="600" height="300">
        </div>

        <div class="col-xs-5 about-info">
          <p>一般会員登録で専用ページを作成！</p><br>
          <p>お気に入り店舗を登録しましょう！</p><br>
          <p>お気に入り店舗のタイムラインとリンクが表示</p><br>
          <p>効率的な情報収集が可能に！</p>
        </div>
    </div>

    <div class="row about4">
      <h3>ご登録はこちら</h3>
        <div class="col-xs-12 about-info">
          <%= link_to "一般会員新規登録", new_user_registration_path, class: "btn btn-success" %>
          <%= link_to "店舗会員新規登録", new_store_registration_path, class: "btn btn-primary" %>
        </div>
    </div>

    <div>ロゴは <a href="https://www.designevo.com/jp/logo-maker/" title="無料オンラインロゴメーカー">DesignEvo</a> ロゴメーカーを利用</div>

	</div>
</div>