<div class="container store-index">
	<div class="row">
		<div class="col-xs-7">
			<% @sends.each do |send| %>
				<div class="store-sends">
					<div class="store_send_top">

						<%= attachment_image_tag send.store, :store_image, format: "jpeg", size: "50x50", fallback: asset_path("no-image.jpeg"), size:'50x50' %>

						<%= send.store.corporation_name %>　<%= send.store.store_name %>
					</div>

					<div class="store_send_bottom">

						<%= attachment_image_tag send, :send_image, format: "jpeg", size: "300x250", fallback: asset_path("not-image.jpeg"), size:'300x250' %>


						<div class="store-send-bottom-insite">
							<h4><%= send.title %></h4>

							<p><%= send.send_comment %></p>
						</div>
					</div>


						<div class="store_send_create">
							<p>投稿時間:　<%= l send.created_at %></p>
						</div>
				</div>
			<% end %>
		</div>

			<div class="row">
				<div class="col-xs-5 side-bar">

					<p>MAKETOKOは大阪の小売店に限定したSNSです。</p>
					<P>店舗様</P>
					<P>登録頂くと、登録店舗専用ページが作成されます。</P>
					<P>専用ページでは、タイムラインとサイドバーの投稿が行えます。</P>
					<p>タイムラインでは、日々のおすすめ情報の発信。</p>
					<p>サイドバーでは、固定情報を常設できます</p>

					<p>画像</p>

					<p>一般会員様</p>
					<p>登録頂くと、会員専用ページが作成されます</p>
					<p>店舗フォロー機能が利用できるようになります。</p>
					<p>お気に入りの店舗を登録することで、日々の情報をチェックしやすくなります。</p>
					<p>フォロワー数ランキングや投稿のタグ別検索など、情報を調べやすくなる機能も利用できるようになります。</p>

					<p>画像</p>

					<p>より詳細の概要はAboutページに掲載されております。興味のある方はぜひご確認ください。</p>


				</div>
			</div>
	</div>

</div>

