<div class="container store-index">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<h3>MAKETOKOについて</h3>
			<p>大阪の小売店専用のSNSです。詳細はAboutページをご覧ください。</p>
			<p><%= link_to "About", about_path, class: "btn btn-success" %></p>

			<% @sends.each do |send| %>
				<div class="store-sends">
					<div class="store_send_top">

						<%= attachment_image_tag send.store, :store_image, format: "jpeg", size: "50x50", fallback: asset_path("no-image.jpeg"), size:'50x50' %>

						<%= send.store.corporation_name %>　<%= send.store.store_name %>
					</div>

					<div class="store_send_bottom">

						<%= attachment_image_tag send, :send_image, format: "jpeg", size: "350x280", fallback: asset_path("not-image.jpeg"), size:'350x280' %>


						<div class="store-send-bottom-insite">
							<h4><%= send.title %></h4>

							<p><%= simple_format(h(send.send_comment)) %></p>
						</div>
					</div>


						<div class="store_send_create">
							<p>投稿時間:　<%= l send.created_at %></p>
						</div>
				</div>
			<% end %>
		</div>

	</div>

</div>

