<div class="container send-show">
	<div class="row">
		<div class="send-show-top">
			<%= attachment_image_tag @store, :store_image, format: "jpeg", size: "50x50", fallback: asset_path("no-image.jpeg"), size:'50x50' %>
			<%= @store.corporation_name %>　<%= @store.store_name %>
		</div>

		<div class="send-show-bottom">

			<%= attachment_image_tag @post, :send_image, format: "jpeg", size: "300x250", fallback: asset_path("not-image.jpeg"), size:'300x250', class: "img-responsive" %>


			<div class="send-show-bottom-right">
				<h4><%= @post.title %></h4>
				<p><%= simple_format(h(@post.send_comment)) %></p>
			</div>
		</div>

			<div class="show-send-date">
				<%= l @post.created_at %>
			</div>

			<div class="send-show-edit">
				<%= link_to "編集する", edit_stores_post_path(@post), class: "btn btn-primary" %>
				<%= link_to "削除する", stores_path(@post), method: :delete, class: "btn btn-danger" %>
			</div>

	</div>
</div>