<div class="container store-index">
	<div class="row">
		<div class="col-xs-8">
			<h3>店舗一覧</h3>
			


			<% @stores.each do |store| %>
			<div class="col-xs-12 user-store-index">
				<div class="col-xs-4 user-store-index-image">
					<%= attachment_image_tag store, :store_image, format: "jpeg", size: "150x150", fallback: "no-image.jpeg", size:'150x150' %>
				</div>

				<div class="col-xs-8 user-store-index-text">

					<p>会社名: 　<%= store.corporation_name %></p>
					<p>店舗名: 　<%= store.store_name %></p>
					<p>住所:　 　<%= store.address %></p>
					<p>電話番号: <%= store.telephone_number %></p>
					<p><%= link_to "店舗詳細", users_store_path(store.id), class: "btn btn-primary" %></p>
				</div>
			</div>
			<% end %>
	













		</div>

		<div class="row">
			<div class="col-xs-4">
			</div>
		</div>
	</div>
</div>
