<div class="container">
<h2>ユーザー一覧</h2>
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>名前</th>
				<th>性別</th>
				<th>年齢</th>
				<th>メールアドレス</th>
				<th>詳細</th>
			</tr>
		</thead>

		<tbody>
			<% @users.each do |user| %>
				<tr>
					<th><%= user.id %></th>
					<th><%= user.handle_name %></th>
					<th><%= user.gender %></th>
					<th><%= user.age %></th>
					<th><%= user.email %></th>
					<th><%= link_to "詳細", admins_user_path(user) %></th>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>



