<div class="container send-edit">
	<div class="row">

		<%= form_for(@send, url:stores_send_path) do |f| %>
			<div class="send-edit-title">
				<h3>タイムライン投稿編集ページ</h3>
			</div>

				<div class="send-edit-image">
					<h3>画像投稿</h3>
					<%= attachment_image_tag @send, :send_image, fallback: asset_path("not-image.jpeg"), id: "img_prev",style: "height: 250px; width:300px;", class: "img-responsive" %>
					<%= f.attachment_field :send_image %>
				</div>

				<div class="store_send-edit-title">
					<h3>投稿タイトル</h3>
					<%= f.text_field :title, :size=>"80" %>
				</div>

				<div class="send-edit-comment">
					<h3>投稿内容</h3>
					<%= f.text_area :send_comment, :size=>"80x5" %>
				</div>

				<div class="send-edit-submit">
					<%= f.submit "変更を保存", class: "btn btn-primary" %>
				</div>
		<% end %>

		<script>
          $(function(){
            $('#send_send_image').on('change', function (e) {
            var reader = new FileReader();
            reader.onload = function (e) {
              $(".send_image").attr('src', e.target.result);
            }
            reader.readAsDataURL(e.target.files[0]);
          });
          });
        </script>

	</div>
</div>