<div class="container send-new">
	<div class="row">
    <div class="send-new-title">
		<h2>タイムライン新規投稿</h2>
  </div>

		<%= form_for(@send, url:stores_sends_path) do |f| %>

		<% if @send.errors.any? %>
  			<div id="error_explanation">
    		<h2>error: <%= @send.errors.count %></h2>
    			<ul>
    				<% @send.errors.full_messages.each do |message| %>
      					<li><%= message %></li>
    				<% end %>
    			</ul>
  			</div>
  		<% end %>

  		
  		<div class="row send-new-image">
      <h3>画像投稿</h3>
  		<%= f.attachment_field :send_image, placeholder: "画像" %>
  		</div>

  		<div class="row send-new-comment">
  		<h3>投稿内容</h3>
  		<%= f.text_area :send_comment, :size=>"80x5" %>
  		</div>

  		<div class="row send-new-submit">
  			<%= f.submit "送信", class: "btn btn-success" %>
  		</div>

  		<% end %>

  	</div>
  </div>