<!DOCTYPE html>
<html>
  <head>
    <title>Maketoko</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/26404320e2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">
  </head>

  <body>

    <header class="navbar navbar-fixed-top">
      <div class="container">
      <nav class="nav navbar-nav navbar-left">
        <%= link_to root_path do %>
          <img class="logo-image" src="<%= asset_path "logo.jpg" %>" widyh="70" height="70" >
        <% end %>
      </nav>

      <nav>

        <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>

            <li class="header-link"><%= link_to "会員トップページ", users_store_timeline_path(current_user) %></li>

            <li class="header-link"><%= link_to "ランキング", users_store_ranking_path %></li>

            <li class="header-link"><%= link_to "店舗一覧", users_stores_path %></li>

            <li class="header-link"><%= link_to "お気に入り店舗", users_store_follow_path(current_user) %></li>

            <li class="header-link"><%= link_to "マイページ", users_mypage_path %></li>

            <li class="header-link"><%= link_to "ログアウト",  destroy_user_session_path, method: :delete %></li>

            <% elsif store_signed_in? %>

            <li class="header-link"><%= link_to "店舗トップページ", stores_sends_path %></li>

            <li class="header-link"><%= link_to "サイドバー投稿ページ", new_stores_infomation_path %></li>

            <li class="header-link"><%= link_to "タイムライン投稿ページ", new_stores_send_path %></li>

            <li class="header-link"><%= link_to "マイページ", stores_mypage_path %></li>

            <li class="header-link"><%= link_to "ログアウト", destroy_store_session_path, method: :delete %></li>

            <% else %>

            <li class="header-link"><%= link_to "About", about_path %></li>

            <li class="header-link"><%= link_to "一般会員新規登録", new_user_registration_path %></li>

            <li class="header-link"><%= link_to "一般会員ログイン", new_user_session_path %></li>

            <li class="header-link"><%= link_to "店舗会員新規登録", new_store_registration_path %></li>

            <li class="header-link"><%= link_to "店舗会員ログイン", new_store_session_path %></li>

            <% end %>


          </ul>
        </nav>
       </div>
    </nav>
  </header>

    <%= yield %>

  <footer>
    <p class="footer">© All rights reserved by MAKETOKO.</p>
  </footer>

  </body>
</html>
