<!DOCTYPE html>
<html>
  <head>
    <title>Maketoko</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/26404320e2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="navbar navbar-fixed-top">
      <div class="container">
      <nav class="nav navbar-nav navbar-left">
        <img class="logo-image" src="/assets/logo.jpg" widyh="70" height="70">
        <span class="Logo"><%= link_to "MAKETOKO", class: "Logolink" %></span>
      </nav>

        <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>

            <li class="header-link"><%= link_to "About", about_path %></li>

            <li class="header-link"><%= link_to "ランキング", "" %></li>

            <li class="header-link"><%= link_to "店舗一覧", users_stores_path %></li>

            <li class="header-link"><%= link_to "マイページ", users_mypage_path %></li>

            <li class="header-link"><%= link_to "ログアウト",  destroy_user_session_path, method: :delete %></li>

            <% elsif store_signed_in? %>

            <li class="header-link"><%= link_to "About", about_path %></li>

            <li class="header-link"><%= link_to "トップページ", stores_sends_path %></li>

            <li class="header-link"><%= link_to "サイドバー投稿ページ", new_stores_infomation_path %></li>

            <li class="header-link"><%= link_to "タイムライン投稿ページ", new_stores_send_path %></li>

            <li class="header-link"><%= link_to "マイページ", stores_mypage_path %></li>

            <li class="header-link"><%= link_to "ログアウト", destroy_store_session_path, method: :delete %></li>

            <% else %>

            <li class="header-link"><%= link_to "About", about_path %></li>

            <li class="header-link"><%= link_to "一般会員新規登録", new_user_registration_path %></li>

            <li class="header-link"><%= link_to "一般会員ログイン", new_user_session_path %></li>

            <li class="header-link"><%= link_to "店舗会員新規登録", new_store_registration_path %></li>

            <li class="header-link"><%= link_to "店舗会員ログイン", new_store_session_path %></li>

            <% end %>


          </ul>
       </div>
    </nav>
  </header>

    <%= yield %>

  </body>
</html>
